<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Join A Room</title>
      <meta charset="utf-8"/>

      <style>
      .thismusicicon
      {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px
      }
      .chat {
        color: white
        border: 2px solid white ;
      }
      p {
        color: #a4a4a4;
      }
      h2 {
        color: #ffffff;
      }
      body{
        background-image: url("../images/Background.png");
        background-size: 100% 300%;
        background-repeat: no-repeat;
      }
      </style>

      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <link rel="icon" type="image/png" href="../images/YEE.png">
      <script src='/socket.io/socket.io.js'></script>
  </head>

  <body>
      <img src="../images/GuessWho.png" alt="Guess Who img" class="guesswhoimg" height="100" onclick="guessWhoClicked()">
      <br><br>
      <div style="float: left; display: inline-block">
        <h2>Join a Room:</h2>
        <p>Enter a room number:</p>
        <input type="number" id="join" min="0" value="0">
        <button type="button" id="joinbutton">Go</button>
        <h2>Spectate a Room:</h2>
        <p>Enter a room number:</p>
        <input type="number" id="spectate" value="0" min="0">
        <button type="button" id="spectatebutton">Go</button>
        <h2>Create a Room:</h2>
        <p>Enter a room number:</p>
        <input type="number" id="create" value="0" min="0">
        <button type="button" id="createbutton">Go</button>
      </div>
      <div style="float: center; display: inline-block; margin-left: 100px">
        <h2>Current Matches</h2>
        <ul id="currmatches" style="color: white;">
        </ul>
        <!-- implement this https://socket.io/docs/v4/rooms/ -->
      </div>
      <div style=" float: right; display: inline-block; margin-left: 100px">
        <h2>Opponent Requests</h2>
        <ul id="requests" style="color: white;">
        </ul>
        <!-- implement this https://socket.io/docs/v4/rooms/ -->
      </div>


    <br><br><br><br><br>
    <img style="float: right;" alt="" class="thismusicicon" id="musicicon" src="../images/1024px-Mute_Icon.png" />
    <audio id="player" autoplay="autoplay" src="../sound/1-hour-of-silence.mp3"></audio>




  </body>
  <script src="/views/js/multiRouting.js"></script>
  <!-- How it will work:
        player chooses char, player asks aI a question, AI responds, Ai asks a question, person responds
  -->
</html>
