<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Guess Who Signup</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <link rel="icon" type="image/png" href="../images/YEE.png">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>
<h1>Signup</h1>
<form>
  User name:<br>
  <input id="username" type="text" name="username"><br>
  User password:<br>
  <input id="psw" type="password" name="psw">
</form>


	<script src="/views/js/signup.js"></script>

  </body>
</html>
