<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Guess Who Signup</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    .center
    {
      text-align:center;
      color: white
    }
    .centered
    {
      text-align:center;
    }
    .guesswhoimg
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    body
    {
      background-image: url("../images/Background.png");
      background-size: 100% 300%;
      background-repeat: no-repeat;
    }

    </style>
    <link rel="icon" type="image/png" href="../images/YEE.png">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>
    <img src="../images/GuessWho.png" alt="Guess Who img" class="guesswhoimg">
    <h1 class="center">Welcome to Guess Who!</h1>
    <h1 class="center">Signup</h1>
    <form class="center">
      User name:<br>
      <input id="username" type="text" name="username" class="centered"><br>
      User password:<br>
      <input id="psw" type="password" name="psw" class="centered">
    </form>
    <br>
    <p class="center">Returning User? Login <a href='./'class="center">Here!</a></p>
	<script src="/views/js/signup.js"></script>

  </body>
</html>
